<section>
  <h1>About Me</h1>
<p>My name is Graeme Christie.</p>
<p>I live in Perth, Western Australia and I'm a Senior Developer at Readify.</p>
<p>I am doting father, avid boardgamer and long time Geek. I am passionate about technology, software development and all things .NET.</p>

<img src="https://university.xamarin.com/images/badges/Mobile-medium.png" style="float: left; width: 100px;margin-right:10px"/>
<p>I have also recently become a <a href="https://university.xamarin.com/certification">Xamarin Certified Mobile Developer</a></p>
<div style="clear:both"/>
</section>
